{% extends 'base.html.twig' %}
{% block body %}
  <main>
    {% if lista_familias is empty %}
      <div class="text-center py-5">
        <h1 class="text-center cat-name-title">{{ cat.nombre }}</h1>
        <div class="h1">La categoría no tiene familias</div>
      </div>
    {% else %}
      <div class="text-center">
        <h1 class="cat-name-title">{{ cat.nombre }}</h1>
      </div>
      <div class="familias-grid-container">
        {% for fam in lista_familias %}
          <a href="{{ url('familia-grid', {param: fam.url}) }}">
            <div style="background: url('{{ asset(fam.url_imagen) }}') no-repeat center">
              <h2 class="name theme-bg">{{ fam.nombre }}</h2>
            </div>
          </a>
        {% endfor %}
      </div>
{#       <div class="description">
        {{ cat.web_description | raw}}
      </div> #}
    {% endif %}
  </main>
{% endblock %}
