<div class="garantias-container">
    <div class="garantia-item" id="asesoramiento">
        <div class="garantia-icon">
             <img src="{{ asset('images/garantias/garantia5.gif') }}" alt="Asesoramiento Personalizado">
        </div>
        <h3 class="garantia-title">Asesoramiento Personalizado</h3>
        <p class="garantia-description">
            Recibe una atención exclusiva a tu medida. Estamos aquí para ayudarte a tomar la mejor decisión.
        </p>
    </div>
    
    <div class="garantia-item" id="calidad-stock">
        <div class="garantia-icon">
             <img src="{{ asset('images/garantias/garantia4.gif') }}" alt="Asesoramiento Personalizado">
        </div>
        <h3 class="garantia-title">Calidad y Amplio Stock</h3>
        <p class="garantia-description">
            Goza de multitud de opciones donde elegir, los mejores productos al alcance a un solo click de ser tuyo.
        </p>
    </div>

    <div class="garantia-item" id="servicio-tecnico">
        <div class="garantia-icon">
             <img src="{{ asset('images/garantias/garantia3.gif') }}" alt="Asesoramiento Personalizado">
        </div>
        <h3 class="garantia-title">Servicio Técnico a Medida</h3>
        <p class="garantia-description">
            Disfruta de soluciones rápidas y profesionales para mantener tus productos en perfecto estado.
        </p>
    </div>

    <div class="garantia-item" id="envios-gratuitos">
        <div class="garantia-icon">
             <img src="{{ asset('images/garantias/garantia2.gif') }}" alt="Asesoramiento Personalizado">
        </div>
        <h3 class="garantia-title">Envíos Gratuitos a Partir de 100€</h3>
        <p class="garantia-description">
            Optimiza tu compra ahorrándote los costes de envío con un gasto total por compra de 100€ o superior.
        </p>
    </div>

    <div class="garantia-item" id="pagos-seguros">
        <div class="garantia-icon">
             <img src="{{ asset('images/garantias/garantia1.gif') }}" alt="Asesoramiento Personalizado">
        </div>
        <h3 class="garantia-title">Pagos Online Seguros</h3>
        <p class="garantia-description">
            Compra con confianza. Tus datos están protegidos por los más altos estándares de seguridad.
        </p>
    </div>
</div>
