{% if config.data.mostrar_atributos %}
  <section class="attr-container">
    {% if attrChecked %}
      <a href="{{ cleanUrl | raw }}" class="btn btn-sm btn-primary w-100 text-white mb-2">
        <i class="mdi mdi-autorenew mr-2"></i>Limpiar filtros
      </a>
    {% endif %}
    {% for attr in attributes %}
      <div class="title titatributos" data-toggle="collapse" data-target="#list{{ loop.index }}" aria-expanded="false" aria-controls="list{{ loop.index }}">
        <span>{{ attr.title }}</span>
        <i class="mdi mdi-chevron-up"></i>
        <i class="mdi mdi-chevron-down"></i>
      </div>
      <div class="collapse show" role="tabpanel" id="list{{ loop.index }}">
        <ul class="list-group">
          {% for row in attr.rows %}
            <li class="list-group-item data">
              {% if routeName == 'search' %}
                {% set row_url = url(routeName, {'q': row.url }) | url_decode  %}
              {% else %}
                {% set row_url = url(routeName, {'param': row.url})  %}
              {% endif %}
              <a href="{{ row_url }}">
                <div class="item">
                  <div>
                    {% if row.checked %}
                      <i class="mdi mdi-checkbox-outline mdi-24px"></i>
                    {% else %}
                      <i class="mdi mdi-checkbox-blank-outline mdi-24px"></i>
                    {% endif %}
                  </div>
                  <div class="tipoatributo">{{ row.nombre }}</div>
                  <div class="badge theme.bg">{{ row.num_art }}</div>
                </div>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </section>
{% endif %}
