<div class="form-group row">
    <div class="col">
        <label for="red_facebook">Facebook</label>
        <input type="text" class="form-control" name="red_facebook" id="red_facebook" value="{{config.data.red_facebook}}">
        <small>Tu dirección del perfil de Facebook</small>
    </div>
</div>
<div class="form-group row">
    <div class="col">
        <label for="red_youtube">YouTube</label>
        <input type="text" class="form-control" name="red_youtube" id="red_youtube" value="{{config.data.red_youtube}}">
        <small>Dirección del perfil de YouTube</small>
    </div>
</div>
<div class="form-group row">
    <div class="col">
        <label for="red_linkedin">Linkedin</label>
        <input type="text" class="form-control" name="red_linkedin" id="red_linkedin" value="{{config.data.red_linkedin}}">
        <small>Dirección del perfil de Linkedin</small>
    </div>
</div>
<div class="form-group row">
    <div class="col-6">
        <label for="red_twitter">Twitter</label>
        <input type="text" class="form-control" name="red_twitter" id="red_twitter" value="{{config.data.red_twitter}}">
        <small>Tu usuario de Twitter</small>
    </div>
    <div class="col-6">
        <label for="red_skype">Skype</label>
        <input type="text" class="form-control" name="red_skype" id="red_skype" value="{{config.data.red_skype}}">
        <small>Tu usuario de Skype</small>
    </div>
    </div>
<div class="form-group row">
    <div class="col-6">
        <label for="red_whatsapp">WhatsApp</label>
        <input type="text" class="form-control" name="red_whatsapp" id="red_whatsapp" value="{{config.data.red_whatsapp}}">
        <small>Número de teléfono sólo para WhatsApp</small>
    </div>
    <div class="col-6">
        <label for="red_instagram">Instagram</label>
        <input type="text" class="form-control" name="red_instagram" id="red_instagram" value="{{config.data.red_instagram}}">
        <small>Tu usuario de Instagram</small>
    </div>
</div>